body{
    margin: auto;
    width: 100%;
    height: 850px;
    border: 2px solid black;
    align-content: center;
}
a{
    text-decoration: none;
    list-style-type: none;
}

header{
    height: 70px;
    margin: 20px 10px 10px 40px;
    padding: 5px;
    font-size: 50px;
    color: black;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hubLogo{
    color: white;
    background-color: #F27800;
    border: 2px solid #F27800;
    border-radius: 10px;
    position: absolute;
    padding: 1px 5px;
    top: 29px;
    left: 210px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    height: 50px;
    margin: 10px;
    border: 2px solid black;
    display: block;
    text-align: left;
    justify-content: center;
    background-color: gainsboro;
    font-family: Candara;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    list-style-type: none;
    margin: 0px 10px;
    display: inline-block;
    transition: all 0.2s;
}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    display: block;
    margin: 0px 10px;
    font-weight: 600;
    color:black;
    font-size: 17px;
    font-family: Candara;
}
nav li a:hover {
    background-color: #F27800;
    color: white;
}
nav ol{
    list-style-type: none;
    text-align: right;
    margin: -45px 10px;
}

nav ol li{
    list-style-type: none;
    margin: 0px 5px;
    display: inline-block;
    transition: all 0.2s;
}
nav ol li a{
    list-style-type: none;
    display: block;
    margin: 0px 10px;
    font-weight: 600;
    color:black;
}

main{
    height: 420px;
    border: 2px solid black;
    clear: both;
    margin: 10px 5px 20px 10px;
    width: 77.3%;
    position: relative;
    float: left;
    background-color: whitesmoke;
}

main h1{
    margin: 20px 10px 20px 50px;
    color: #F27800;
}

.main1{
    float: left;
    width: 55%;
}
.main2 img {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}

main h2{
    margin: 5px 10px 10px 50px;
    color: black;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main p{
    margin: 10px 5px 20px 30px;
    color: black;
    font-size: 20px;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main button{
    border: none;
    background-color: #F27800;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px 100px;
    transition-duration: 0.4s;
    cursor: pointer;
}
main button a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
aside{
    width: 20%;
    float: right;
    margin: 10px 10px 20px 5px;
    height: 420px;
    list-style-type: none;
    display: block;
    background-color: gainsboro;
}
aside h3{
    margin: 50px 10px 10px 30px;
    color:#F27800;
    font-size: 23px;
}
aside ul{
    list-style-type: none;
}
aside ul li{
    list-style-type: none;
    display:block;
    margin: 0px 20px;
    font-weight: 600;
    font-size: 17px;
}
aside ul li a{
    list-style-type: none;
    text-decoration: none;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
aside ul li a:hover{
    color: #F27800;
}
.SocialMedia button{
    font-size: 17px;
    margin:40px 0px 10px 50px;
    font-family:Candara;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
}
.SocialMedia button a{
    color: #F27800;
}
.SocialMedia{
    margin-left: 25px;
}
.SocialMedia img{
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
}

.InfoTab{
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 0px 150px;
}
table{
    height: 125px;
    width: 98.6%;
    margin: 10px;
    background-color: gainsboro;
}
table th{
    font-family: Candara;
    text-align: left;
    font-size: 25px;
    padding: 5px;
    color:#F27800;
}
table td a{
    font-family: Candara;
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
}
table td a:hover{
    color: #F27800;
}

footer{
    height: 5px;
    margin: 10px;
    text-align: center;
    padding-bottom: 5px;
    color: black;
}
